.wrapper{
  background-color: #aaa;
  display: flex;
  flex-direction: column;
  width: 595px;
  height: 842px;
  position: relative;

}

.head{
  display: flex;
  justify-content: center;
  background-image: url(./head.JPG);
  background-size: cover;
  width: 595px;
  height:200px;
}

.avatar-round{
  border-radius:50%;
}

.avatar{
  border-style: solid;
  border-width: 4px;
  border-color: white;
  border-radius:50%;
  overflow: hidden;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 150px;
  left: 50%;
  transform: translateX(-50%);
}

.information-outer{
  display: flex;
  flex-direction: row;
  width:595px;
  height:75px;
}

.information-outer-p{
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  font-size: 12px;

}


.information-outer-p:first-child{
  border-bottom: 1px black solid;
}

.information-left{
  display: flex;
  flex-direction: column;
  padding: 0px 80px 0px 30px;
  background: rgba(197, 199, 73, 0.308); 
  width: 187.5px;
  height:100%;
}
.information-right{
  display: flex;
  flex-direction: column;
  padding: 0px 30px 0px 80px;
  background: rgba(209, 165, 115, 0.308); 
  width: 187.5px;
  height:100%;
}

.description-outer{
  display: flex;
  flex-direction: column;
  width: 297.5px;
  vertical-align: top;
}

.description-outer-right{
  background-color: #ccc;
  display: inline-block;
  width: 297.5px;
  height: 542px;
  vertical-align: top;
}


.about-me{
  flex: 1;
  padding: 15px 40px 15px 15px;
  background: rgba(47, 167, 11, 0.308); 
  width:242.5px;
}


.skills{
  padding: 15px 40px 15px 15px;
  background: rgba(40, 119, 70, 0.308); 
  width:242.5px;
  height:360px;
}

.percentage{
  border-style: solid;
  border-width: 3px;
}

.awards{
  padding: 15px 40px 15px 15px;
  background: rgba(109, 175, 88, 0.308); 
  width:242.5px;
  height:110px;
}

.education{
  padding: 15px 15px 15px 0;
  background: rgba(90, 143, 204, 0.308); 
  width: 282.5px;
  height: 152px;
}

.experience{
  padding: 15px 15px 15px 0;
  background: rgba(31, 81, 138, 0.308); 
  width: 282.5px;
  flex: 1;
}

.hobbies-interests{
  padding: 15px 15px 15px 0;
  background: rgba(4, 26, 51, 0.308); 
  width:282.5px;
  height:100px;
}

.hobbies-interests h2{
  text-decoration: underline;
}