
.head{
  text-align: center;
  /* width:362px; */
  height:20%;
  background: red;
}
  
.about-me{

  padding: 20px 20px;
  background: rgba(47, 167, 11, 0.308); 
  width:35%;
  /* height:370px; */
}

.about-me h2{
  text-decoration: underline;
}

.skills{
  padding: 20px 20px;
  background:rgb(29, 31, 56); 
  width:35%;
  /* height:120px; */
}

.skills h2{
  text-decoration: underline;
}

.awards{
  padding: 20px 20px;
  background:rgb(204, 99, 152); 
  width:35%;
  /* height:120px; */
}

.awards h2{
  text-decoration: underline;
}
