.wrapper{
  /* padding: 10px 40px 10px 10px; */
  background-color: #aaa;
  /* display: inline-block; */
  width: 595px;
  height: 842px;
  position: relative;
}

.head{
  text-align: center;
  width: 595px;
  height:200px;
  background: red;
}

.avatar{
  background: rgb(179, 53, 168);
  border-radius:50%;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 150px;
  /* right: 40%; */
  left: 50%;
  /* height: 50px; */
  transform: translateX(-50%);
}

.information-outer{
  /* padding: 20px 20px; */
  background: rgba(151, 153, 19, 0.308); 
  width:595px;
  height:100px;
}


.information{
  display: inline-block;
  /* padding: 20px 20px; */
  background: rgba(197, 199, 73, 0.308); 
  width: 297.5px;
  height:100px;
}
.information2{
  display: inline-block;
  /* padding: 20px 20px; */
  background: rgba(209, 165, 115, 0.308); 
  width: 297.5px;
  height:100px;
}

.description-outer{
  /* padding: 10px 40px 10px 10px; */
  background-color: #bbb;
  display: inline-block;
  width: 297.5px;
  height: 542px;
  vertical-align: top;
}

.description-outer-right{
  /* padding: 10px 10px 10px 0; */
  background-color: #ccc;
  display: inline-block;
  width: 297.5px;
  height: 542px;
  vertical-align: top;
}


.about-me{
  /* display: inline-block; */
  padding: 15px 40px 15px 15px;
  background: rgba(47, 167, 11, 0.308); 
  width:242.5px;
  height:120px;
  /* text-align: center; */
}
.about-me h2{
  text-decoration: underline;
}

.skills{
  /* display: inline-block; */
  padding: 15px 40px 15px 15px;
  background: rgba(40, 119, 70, 0.308); 
  width:242.5px;
  height:220px;
}
.skills h2{
  text-decoration: underline;
}

.awards{
  /* display: inline-block; */
  padding: 15px 40px 15px 15px;
  background: rgba(109, 175, 88, 0.308); 
  width:242.5px;
  height:110px;
}

.awards h2{
  text-decoration: underline;
}

.education{
  /* display: inline-block; */
  padding: 15px 15px 15px 0;
  background: rgba(90, 143, 204, 0.308); 
  width: 282.5px;
  height: 152px;
}
.education h2{
  text-decoration: underline;
}


.experience{
  /* display: inline-block; */
  padding: 15px 15px 15px 0;
  background: rgba(31, 81, 138, 0.308); 
  width: 282.5px;
  height:150px;
  /* margin-top: -100px; */

}

.experience h2{
  text-decoration: underline;
}

.hobbies-interests{
  /* display: inline-block; */
  padding: 15px 15px 15px 0;
  background: rgba(4, 26, 51, 0.308); 
  width:282.5px;
  height:100px;
}

.hobbies-interests h2{
  text-decoration: underline;
}